* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  height: 100px;
  background-color: rgb(14, 147, 2);
}

#titulo {
  color: white;
  padding: 30px;
}

nav {
  background-color: rgb(14, 147, 2);
  color: white;
  padding: 10px;
}

img {
  margin: 20px;
}

a > p {
  margin-left: 20px;
  margin-bottom: 20px;
}